#yastore-checkout-button {
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: rgba(248, 96, 74, 1);
    padding: var(--yakit-button-padding, 0px 12px 0 12px);
    margin: var(--yakit-button-margin, 12px 0 0 10px);
    height: var(--purchase-button-height, 42px);
    width: var(--purchase-button-width, 100%);
    font-weight: 400;
    line-height: 16px;
    font-family: YS Text -webkit-body;
    color: white;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    transition: all .12s ease-out;
}

#yastore-checkout-button::active {
    transform: scale(.97);
    background-color: rgb(224, 80, 65, 1);
}

#yastore-checkout-button:hover {
    background-color: rgba(224, 86, 67, 1);
}
